* {
  margin: 0;
  padding: 0;
}
.social-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.social-icon {
  margin: 10px 25px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 70px;
  height: 70px;
  text-decoration: none;
}
.icon__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #f6f6f6;
  text-align: center;
}
.social-icon i {
  position: relative;
  transition: 0.3s;
  font-size: 30px;
  z-index: 1;
}
.social-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: 0.3s;
}
.social-icon:hover::after,
.social-icon:focus::after {
  width: 100%;
  height: 100%;
  margin-left: -50%;
}
.social-icon:hover,
.social-icon:focus {
  color: #f6f6f6;
}
.facebook {
  color: #3b5998;
}
.facebook::after {
  background: #3b5998;
}

.twitter::after {
  background: #00acee;
}
.twitter {
  color: #00acee;
}

.github {
  color: #6e5494;
}
.github::after {
  background: #6e5494;
}
.gmail {
  color: #ea4335;
}
.gmail::after {
  background: #ea4335;
}

.footer {
  background: #202731;
  position: fixed;
  top: auto;
  bottom: 0;
  width: 100%;
  height: 15%;
  display: inline-block;
  text-align: center;
}

.title {
  margin: 3px;
  font-family: "Itim", cursive;
  font-size: 2.5vh;
}
