.input-background{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #202731 !important;
    background: #202731 !important;
    font-size: xx-large !important;
    color:#f6f6f6 !important;
  }
  